terraform/sfn_templates/index-generation.yml
# SWIPE fan-out index-generation pipeline entry point (platform-overhaul 800, Lever 2).
#
# Three PHASES with per-database lanes fanned out inside phases 1 and 2, replacing the linear
# Download -> Compress -> Index chain:
#
#   Phase 1  Parallel[ DownloadTaxonomy | DownloadNT | DownloadNR ]  -> MergeDownloads
#   Phase 2  Parallel[ CompressNR->IndexNR | CompressNT->IndexNT | IndexTaxonomy ] -> MergeLanes
#   Phase 3  Assemble   (GenerateIndexAccessions -- the one cross-DB task)
#
# core_nt, nr and the taxonomy files download concurrently on their own right-sized boxes (the
# 799 per-DB download queues + isolated scratch), then each DB's compress+index lane runs
# concurrently, so NR's long compress overlaps NT's whole path. Wall-clock -> max(lane).
#
# Each stage runs a whole per-stage sub-WDL (seqtoid-workflows index-generation/*.wdl) and
# hands off via S3: it reads $.<STAGE>_INPUT_URI and writes $.<STAGE>_OUTPUT_URI (wired by the
# swipe preprocess_input / process_stage_output lambdas). Cross-lane + cross-phase File
# handoffs are threaded by the io-helper: within a lane by process_stage_output (lane
# successors), across a Parallel boundary by merge_parallel_outputs (unions the branch Results
# then writes the next phase's inputs).
#
# SPOT: this v1 runs the index lanes + Assemble on the on-demand index queue for a tractable,
# correct first cut. Re-introducing the SPOT -> DetectError -> EC2 fallback per index lane (as
# the pre-fan-out Index stage had) is a follow-on cost optimization.
Comment: SWIPE fan-out index-generation pipeline entry point
StartAt: PreprocessInput
TimeoutSeconds: 1209600 # 14 DAYS (total execution run time, including Batch scheduling delays)
States:
  PreprocessInput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${preprocess_input_lambda_name}"
      Payload: &PassthroughStatePayload
        ExecutionId.$: $$.Execution.Id
        CurrentState.$: $$.State.Name
        Input.$: $
    OutputPath: $.Payload
    Next: Phase1Download

  # ---- Phase 1: three concurrent download lanes (799 per-DB queues + isolated scratch) ----
  Phase1Download:
    Type: Parallel
    ResultPath: $.DownloadBranches
    Next: MergeDownloads
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.Phase1Download
        Next: HandleFailure
    Branches:
      - StartAt: DownloadTaxonomy
        States:
          DownloadTaxonomy:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_download_taxonomy_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: &JobDefinition "${batch_job_definition_name}"
              Timeout: &DownloadBatchTimeout
                AttemptDurationSeconds: 43200 # 12 hours
              ContainerOverrides:
                Memory.$: $.DownloadEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.DOWNLOAD_TAXONOMY_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.DOWNLOAD_TAXONOMY_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.DOWNLOAD_TAXONOMY_OUTPUT_URI
                  - &SfnExecEnv
                    Name: SFN_EXECUTION_ID
                    Value.$: $$.Execution.Id
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.DownloadTaxonomy
            Next: DownloadTaxonomyReadOutput
            Retry: &BatchRetryConfig
              - ErrorEquals: ["Batch.AWSBatchException"]
                IntervalSeconds: 15
                MaxAttempts: 3
                BackoffRate: 2.1
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.DownloadTaxonomy
                Next: DownloadTaxonomyReadOutput
          DownloadTaxonomyReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: &ReadOutputParameters
              FunctionName: "${process_stage_output_lambda_name}"
              Payload: *PassthroughStatePayload
            OutputPath: $.Payload
            End: true
      - StartAt: DownloadNT
        States:
          DownloadNT:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_download_nt_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: *DownloadBatchTimeout
              ContainerOverrides:
                Memory.$: $.DownloadEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.DOWNLOAD_NT_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.DOWNLOAD_NT_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.DOWNLOAD_NT_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.DownloadNT
            Next: DownloadNTReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.DownloadNT
                Next: DownloadNTReadOutput
          DownloadNTReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            End: true
      - StartAt: DownloadNR
        States:
          DownloadNR:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_download_nr_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: *DownloadBatchTimeout
              ContainerOverrides:
                Memory.$: $.DownloadEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.DOWNLOAD_NR_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.DOWNLOAD_NR_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.DOWNLOAD_NR_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.DownloadNR
            Next: DownloadNRReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.DownloadNR
                Next: DownloadNRReadOutput
          DownloadNRReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            End: true

  # Union the three branch Results back into one state + write the Phase-2 lane inputs.
  MergeDownloads:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${merge_parallel_outputs_lambda_name}"
      Payload:
        ExecutionId.$: $$.Execution.Id
        CurrentState.$: $$.State.Name
        Input:
          Branches.$: $.DownloadBranches
    OutputPath: $.Payload
    Next: Phase2Lanes

  # ---- Phase 2: three concurrent per-database lanes (compress->index; taxonomy index) ----
  Phase2Lanes:
    Type: Parallel
    ResultPath: $.LaneBranches
    Next: MergeLanes
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.Phase2Lanes
        Next: HandleFailure
    Branches:
      - StartAt: CompressNR
        States:
          CompressNR:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_compress_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              # Anchor shared by CompressNR and CompressNT (the two Phase-2 lanes).
              # Raised 24h -> 48h. At gp3 defaults the full-scale core_nt compress had a
              # ~26 h I/O floor, i.e. it would have hit the old 24 h cap and been killed
              # after a full day of paid compute. The provisioned-IOPS scratch volume
              # (index-generation.tf, compress stage) brings the expected wall clock to
              # ~8-10 h, so this is headroom, not the primary fix: it exists so a slow run
              # finishes and can be measured rather than being truncated at the cap.
              Timeout: &CompressBatchTimeout
                AttemptDurationSeconds: 172800 # 48 hours
              ContainerOverrides:
                Memory.$: $.CompressEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.COMPRESS_NR_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.COMPRESS_NR_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.COMPRESS_NR_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.CompressNR
            Next: CompressNRReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.CompressNR
                Next: CompressNRReadOutput
          CompressNRReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            Next: IndexNR
          IndexNR:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_index_on_demand_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: &IndexBatchTimeout
                AttemptDurationSeconds: 86400 # 24 hours
              ContainerOverrides:
                Memory.$: $.IndexEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.INDEX_NR_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.INDEX_NR_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.INDEX_NR_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.IndexNR
            Next: IndexNRReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.IndexNR
                Next: IndexNRReadOutput
          IndexNRReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            End: true
      - StartAt: CompressNT
        States:
          CompressNT:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_compress_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: *CompressBatchTimeout
              ContainerOverrides:
                Memory.$: $.CompressEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.COMPRESS_NT_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.COMPRESS_NT_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.COMPRESS_NT_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.CompressNT
            Next: CompressNTReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.CompressNT
                Next: CompressNTReadOutput
          CompressNTReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            Next: IndexNT
          IndexNT:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_index_on_demand_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: *IndexBatchTimeout
              ContainerOverrides:
                Memory.$: $.IndexEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.INDEX_NT_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.INDEX_NT_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.INDEX_NT_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.IndexNT
            Next: IndexNTReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.IndexNT
                Next: IndexNTReadOutput
          IndexNTReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            End: true
      - StartAt: IndexTaxonomy
        States:
          IndexTaxonomy:
            Type: Task
            Resource: arn:aws:states:::batch:submitJob.sync
            Parameters:
              JobQueue: "${index_generation_index_on_demand_job_queue_arn}"
              JobName.$: $$.Execution.Name
              JobDefinition: *JobDefinition
              Timeout: *IndexBatchTimeout
              ContainerOverrides:
                Memory.$: $.IndexEC2Memory
                Environment:
                  - Name: WDL_INPUT_URI
                    Value.$: $.INDEX_TAXONOMY_INPUT_URI
                  - Name: WDL_WORKFLOW_URI
                    Value.$: $.INDEX_TAXONOMY_WDL_URI
                  - Name: WDL_OUTPUT_URI
                    Value.$: $.INDEX_TAXONOMY_OUTPUT_URI
                  - *SfnExecEnv
                  - Name: SFN_CURRENT_STATE
                    Value.$: $$.State.Name
            ResultPath: $.BatchJobDetails.IndexTaxonomy
            Next: IndexTaxonomyReadOutput
            Retry: *BatchRetryConfig
            Catch:
              - ErrorEquals: ["States.ALL"]
                ResultPath: $.BatchJobError.IndexTaxonomy
                Next: IndexTaxonomyReadOutput
          IndexTaxonomyReadOutput:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke
            Parameters: *ReadOutputParameters
            OutputPath: $.Payload
            End: true

  # Union the three lane Results + write the Assemble input.
  MergeLanes:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${merge_parallel_outputs_lambda_name}"
      Payload:
        ExecutionId.$: $$.Execution.Id
        CurrentState.$: $$.State.Name
        Input:
          Branches.$: $.LaneBranches
    OutputPath: $.Payload
    Next: Assemble

  # ---- Phase 3: cross-database accession index + final assembly ----
  Assemble:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${index_generation_index_on_demand_job_queue_arn}"
      JobName.$: $$.Execution.Name
      JobDefinition: *JobDefinition
      Timeout: *IndexBatchTimeout
      ContainerOverrides:
        Memory.$: $.IndexEC2Memory
        Environment:
          - Name: WDL_INPUT_URI
            Value.$: $.ASSEMBLE_INPUT_URI
          - Name: WDL_WORKFLOW_URI
            Value.$: $.ASSEMBLE_WDL_URI
          - Name: WDL_OUTPUT_URI
            Value.$: $.ASSEMBLE_OUTPUT_URI
          - *SfnExecEnv
          - Name: SFN_CURRENT_STATE
            Value.$: $$.State.Name
    ResultPath: $.BatchJobDetails.Assemble
    Next: AssembleReadOutput
    Retry: *BatchRetryConfig
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.Assemble
        Next: AssembleReadOutput
  AssembleReadOutput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters: *ReadOutputParameters
    OutputPath: $.Payload
    Next: AssembleSucceeded
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: AssembleFailed
  AssembleFailed:
    Type: Pass
    Next: HandleFailure
  AssembleSucceeded:
    Type: Pass
    Next: HandleSuccess

  HandleSuccess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${handle_success_lambda_name}"
      Payload: *PassthroughStatePayload
    OutputPath: $.Payload
    End: true
  HandleFailure:
    # Reads error details, does housekeeping, then raises an exception with the error details
    # (so they can be seen directly in the Step Functions API).
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${handle_failure_lambda_name}"
      Payload: *PassthroughStatePayload
    OutputPath: $.Payload
    End: true
