terraform/sfn_templates/index-generation.yml
# SWIPE multi-stage index-generation pipeline entry point (Lever 1, Track A).
#
# Historically this was a SINGLE `RunEC2` state doing one batch:submitJob.sync to one
# monolithic compute environment, where miniwdl ran every WDL task locally on one giant
# r5n.24xlarge + 64 TB RAID0 scratch. Track A splits the run into right-sized phase stages,
# each its own Batch job on its own compute environment/queue, mirroring short-read-mngs.yml:
#
#   Download  -- IO-bound; small on-demand box (no spot fallback needed, already on-demand).
#   Compress  -- the long single ncbi-compress task; r6i on-demand. A spot reclaim on this
#                multi-hour, un-checkpointed task would restart the whole rebuild, so this
#                stage never runs on spot (this is exactly why the on-demand CE fix landed).
#   Index     -- minimap2/diamond index build; interruption-tolerant, so this is where spot
#                belongs. It runs on a spot queue with an on-demand fallback (the same
#                SPOT -> DetectError -> EC2 pattern short-read-mngs uses for every stage).
#
# The multi-TB compressed fasta is handed between stages via S3 the way short-read-mngs
# hands off between HostFilter/NonHostAlignment/etc.: each stage reads <STAGE>_INPUT_URI and
# writes <STAGE>_OUTPUT_URI (wired by the swipe preprocess_input / process_stage_output
# lambdas). Handoff cost/time of that multi-TB object across stage boundaries is a tracked
# open risk (see the Part-3 fan-out design, open-risk #1).
#
# UPSTREAM DEPENDENCY: a SWIPE stage runs a WHOLE WDL locally, so each stage needs its own
# sub-WDL (download / compress / index) with S3 in/out. Those sub-WDLs are authored in
# seqtoid-workflows (the WDL split PR), and the per-stage image is built + uploaded to the
# workflows bucket there. Until that lands this state machine is authored-and-correct but
# cannot execute end-to-end. True per-chunk (~50-way) fan-out of the Index stage is a
# separate later refinement (the WDL scatter PR) layered on top of this Index stage.
Comment: SWIPE multi-stage index-generation pipeline entry point
StartAt: PreprocessInput
TimeoutSeconds: 1209600 # 14 DAYS (total execution run time, including Batch job scheduling delays)
States:
  PreprocessInput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${preprocess_input_lambda_name}"
      Payload: &PassthroughStatePayload
        ExecutionId.$: $$.Execution.Id
        CurrentState.$: $$.State.Name
        Input.$: $
    OutputPath: $.Payload
    Next: Download

  # ---- Download stage: IO-bound, small on-demand box ----------------------------------
  Download:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${index_generation_download_job_queue_arn}"
      JobName.$: $$.Execution.Name
      JobDefinition: &JobDefinition "${batch_job_definition_name}"
      Timeout:
        AttemptDurationSeconds: 43200 # 12 hours
      ContainerOverrides:
        Memory.$: $.DownloadEC2Memory
        Environment: &DownloadEnvironment
          - Name: WDL_INPUT_URI
            Value.$: $.DOWNLOAD_INPUT_URI
          - Name: WDL_WORKFLOW_URI
            Value.$: $.DOWNLOAD_WDL_URI
          - Name: WDL_OUTPUT_URI
            Value.$: $.DOWNLOAD_OUTPUT_URI
          - Name: SFN_EXECUTION_ID
            Value.$: $$.Execution.Id
          - Name: SFN_CURRENT_STATE
            Value.$: $$.State.Name
    ResultPath: $.BatchJobDetails.Download
    Next: DownloadReadOutput
    Retry: &BatchRetryConfig
      - ErrorEquals: ["Batch.AWSBatchException"]
        IntervalSeconds: 15
        MaxAttempts: 3
        BackoffRate: 2.1 # 2.0 triggers the linter because when converted to json it becomes an int, not a float
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.Download
        Next: DownloadReadOutput
  DownloadReadOutput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters: &ReadOutputParameters
      FunctionName: "${process_stage_output_lambda_name}"
      Payload: *PassthroughStatePayload
    OutputPath: $.Payload
    Next: DownloadSucceeded
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: DownloadFailed
  DownloadFailed:
    Type: Pass
    Next: HandleFailure
  DownloadSucceeded:
    Type: Pass
    Next: Compress

  # ---- Compress stage: long single ncbi-compress task, r6i ON-DEMAND (never spot) ------
  Compress:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${index_generation_compress_job_queue_arn}"
      JobName.$: $$.Execution.Name
      JobDefinition: *JobDefinition
      Timeout:
        AttemptDurationSeconds: 172800 # 48 hours (multi-hour compression of the full NT/NR db)
      ContainerOverrides:
        Memory.$: $.CompressEC2Memory
        Environment: &CompressEnvironment
          - Name: WDL_INPUT_URI
            Value.$: $.COMPRESS_INPUT_URI
          - Name: WDL_WORKFLOW_URI
            Value.$: $.COMPRESS_WDL_URI
          - Name: WDL_OUTPUT_URI
            Value.$: $.COMPRESS_OUTPUT_URI
          - Name: SFN_EXECUTION_ID
            Value.$: $$.Execution.Id
          - Name: SFN_CURRENT_STATE
            Value.$: $$.State.Name
    ResultPath: $.BatchJobDetails.Compress
    Next: CompressReadOutput
    Retry: *BatchRetryConfig
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.Compress
        Next: CompressReadOutput
  CompressReadOutput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters: *ReadOutputParameters
    OutputPath: $.Payload
    Next: CompressSucceeded
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: CompressFailed
  CompressFailed:
    Type: Pass
    Next: HandleFailure
  CompressSucceeded:
    Type: Pass
    Next: IndexSPOT

  # ---- Index stage: interruption-tolerant, SPOT with on-demand fallback ----------------
  IndexSPOT:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${index_generation_index_spot_job_queue_arn}"
      JobName.$: $$.Execution.Name
      JobDefinition: *JobDefinition
      Timeout: &IndexBatchTimeout
        AttemptDurationSeconds: 86400 # 24 hours
      ContainerOverrides:
        Memory.$: $.IndexSPOTMemory
        Environment: &IndexEnvironment
          - Name: WDL_INPUT_URI
            Value.$: $.INDEX_INPUT_URI
          - Name: WDL_WORKFLOW_URI
            Value.$: $.INDEX_WDL_URI
          - Name: WDL_OUTPUT_URI
            Value.$: $.INDEX_OUTPUT_URI
          - Name: SFN_EXECUTION_ID
            Value.$: $$.Execution.Id
          - Name: SFN_CURRENT_STATE
            Value.$: $$.State.Name
    ResultPath: $.BatchJobDetails.Index
    Next: IndexReadOutput
    Retry: *BatchRetryConfig
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.IndexSPOT
        Next: IndexGetCause
  IndexGetCause:
    Type: Pass
    Parameters:
      "Cause.$": "States.StringToJson($.BatchJobError.IndexSPOT.Cause)"
    ResultPath: "$.BatchJobError.IndexSPOT"
    Next: IndexDetectError
  IndexDetectError:
    Type: Choice
    Choices:
      - Variable: "$.BatchJobError.IndexSPOT.Cause.StatusReason"
        StringMatches: "Host EC2 (instance i-*) terminated."
        Next: IndexEC2
    Default: IndexReadOutput
  IndexEC2:
    Type: Task
    Resource: arn:aws:states:::batch:submitJob.sync
    Parameters:
      JobQueue: "${index_generation_index_on_demand_job_queue_arn}"
      JobName.$: $$.Execution.Name
      JobDefinition: *JobDefinition
      Timeout: *IndexBatchTimeout
      ContainerOverrides:
        Memory.$: $.IndexEC2Memory
        Environment: *IndexEnvironment
    ResultPath: $.BatchJobDetails.Index
    Next: IndexReadOutput
    Retry: *BatchRetryConfig
    Catch:
      - ErrorEquals: ["States.ALL"]
        ResultPath: $.BatchJobError.IndexEC2
        Next: IndexReadOutput
  IndexReadOutput:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters: *ReadOutputParameters
    OutputPath: $.Payload
    Next: IndexSucceeded
    Catch:
      - ErrorEquals: ["States.ALL"]
        Next: IndexFailed
  IndexFailed:
    Type: Pass
    Next: HandleFailure
  IndexSucceeded:
    Type: Pass
    Next: HandleSuccess

  HandleSuccess:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${handle_success_lambda_name}"
      Payload: *PassthroughStatePayload
    OutputPath: $.Payload
    End: true
  HandleFailure:
    # The HandleFailure state is expected to read error details, do any housekeeping necessary, then raise an exception
    # with the error details (so they can be seen directly in the Step Functions API).
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName: "${handle_failure_lambda_name}"
      Payload: *PassthroughStatePayload
    OutputPath: $.Payload
    End: true
